*{
  margin: 0%;
  padding: 0%;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(1,2,24);
  background: linear-gradient(90deg, rgba(1,2,24,1) 0%, rgba(4,7,39,1) 54%, rgba(4,7,38,1) 55%, rgba(8,13,57,1) 100%, rgba(47,74,237,1) 100%); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
